
 * {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  display: flex;
  height: 200px;
  flex-direction: column;
  align-items: center;
}

.items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

ul {
  padding: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  list-style: none;
  margin: 5px;
}

li {
  display: inline-block;
  width: 220px;
  overflow: hidden;
  margin: 5px;
}

input, button {
  font-size: 16px;
  height: 50px;
  width: auto;
  border: 1px solid black;
  outline: 1px;
}
